
Library/Artifacts/07/072173f669d3f72a4b5c583309737e38

Library/

Temp/

Assets/VIDE/Data/Editor/db.prefab

Assets/VIDE/Resources/EditorSettings.json

Assets/VIDE/Resources/EditorSettings.json.meta~Stashed changes_0

Assets/VIDE/Resources/EditorSettings.json.meta~Stashed changes.meta~Stashed changes

Assets/VIDE/Resources/EditorSettings.json.meta~Stashed changes.meta~Updated upstream

Assets/VIDE/Resources/EditorSettings.json.meta~Updated upstream_0

Assets/VIDE/Resources/EditorSettings.json.meta~Updated upstream.meta~Stashed changes

Assets/VIDE/Resources/EditorSettings.json.meta~Updated upstream.meta~Updated upstream

ProjectSettings/EditorBuildSettings.asset

Assets/VIDE/Resources/Dialogues/Charlie.json.meta~Stashed changes

Assets/VIDE/Resources/Dialogues/Charlie.json.meta~Updated upstream

Assets/VIDE/Resources/EditorSettings.json.meta

Assets/VIDE/Resources/EditorSettings.json.meta~Stashed changes.meta~Stashed changes_0

Assets/VIDE/Resources/EditorSettings.json.meta~Updated upstream.meta

Assets/VIDE/Resources/Dialogues/Charlie.json.meta
